.popup__container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px 36px;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.popup__button_type_close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../images/close-X.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border-width: 0;
  background-color: transparent;
}

.popup__button_type_close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__title {
  color: #000;
  box-sizing: border-box;
  max-width: 358px;
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 900;
  margin-bottom: 54px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
  .popup__button_type_close {
    top: -45px;
    right: 5px;
    width: 26px;
    height: 26px;
  }
  .popup__title {
    font-size: 18px;
    margin-bottom: 76px;
  }
}
