.footer {
  display: flex;
  max-width: 880px;
}
.footer__text {
  box-sizing: border-box;
  justify-self: flex-start;
  font-size: 18px;
  line-height: 21.78px;

  padding-bottom: 60px;
  color: #545454;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (max-width: 500px) {
  .footer__text {
    font-size: 14px;
    padding-left: 19px;
    padding-bottom: 36px;
  }
}
