.fieldset {
  box-sizing: border-box;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
  padding-block-end: 0;
  min-inline-size: none;
  border: none;
  border-color: none;
  border-width: none;
}
.fieldset__container {
  position: relative;
}

.fieldset__input {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.fieldset__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.fieldset__input_error {
  border-bottom: solid 1px #ff0000;
}
.fieldset__input_error_message {
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 13px;
  font-size: 12px;
  min-height: 12px;
  color: #ff0000;
}
.fieldset__input_error_message_active {
  visibility: visible;
  opacity: 1;
}

.fieldset__button {
  margin-top: 18px;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  border-width: 0;
  cursor: pointer;
}
.fieldset__button:hover {
  opacity: 0.8;
}
.fieldset__button_disabled,
.fieldset__button_disabled:hover {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

@media screen and (max-width: 550px) {
  .fieldset__input {
    font-size: 14px;
  }
  .fieldset__button {
    margin-top: 18px;
    font-size: 14px;
  }
}
