.form {
  visibility: hidden;
  position: absolute;
  top: 35px;
  left: 225px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 34px 36px 36.51px 34px;
}
.form::after {
  content: "";
  position: absolute;
  top: -48px;
  right: -48px;
  background-image: url("../images/close-X.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  z-index: 2;
}

.form__title {
  box-sizing: border-box;
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 900;
  margin-bottom: 54px;
}

.form__type {
  box-sizing: border-box;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: none;
  border: none;
  border-color: none;
  border-width: none;
}
.form__input {
  box-sizing: border-box;
  width: 358px;
  margin-bottom: 30px;
  border-width: 0 0 1px 0;
  padding-bottom: 13.35px;
  border-color: rgba(0, 0, 0, 0.2);
}
input:focus {
  outline: 0;
}
input[type="text" i] {
  padding: 0;
}

.form__save {
  margin-top: 18px;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  border-width: 0;
  padding: 0;
}
.form__label {
  display: block;
  text-align: left;
}
