.popup {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.popup__open {
  display: flex;
}
.popup__container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px 36px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  content: "";
  top: -40px;
  right: -40px;
  background-image: url("../images/close-X.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__title {
  color: #000;
  box-sizing: border-box;
  max-width: 358px;
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 900;
  margin-bottom: 54px;
}

.form__type {
  box-sizing: border-box;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
  padding-block-end: 0;
  min-inline-size: none;
  border: none;
  border-color: none;
  border-width: none;
}

.form__input-name {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.form__input-occu {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0.2);
}
input:focus {
  outline: 0;
}
input[type="text" i] {
  padding-bottom: 13.26px;
}
.form__label {
  display: block;
}
.form__save {
  margin-top: 18px;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  border-width: 0;
}
.form__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__content {
    width: 282px;
    padding: 25px 22px;
  }
  .popup__content::after {
    top: -45px;
    right: 5px;
    width: 26px;
    height: 26px;
  }
  .form__title {
    font-size: 18px;
    margin-bottom: 76px;
  }
  .form__input {
    font-size: 14px;
  }
  input[type="text" i] {
    padding-bottom: 9px;
  }
  .form__save {
    margin-top: 18px;
  }
}
