.gallery {
  display: grid;
  grid-template: auto auto / auto auto auto;
  box-sizing: border-box;
  max-width: 880px;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-bottom: 68px;
  list-style-type: none;
}
.gallery__item {
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.gallery__img {
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
}

@media screen and (max-width: 910px) {
  .gallery {
    padding: 0 19px;
    grid-template: repeat(3, auto) / 1fr 1fr;
    row-gap: 16px;
  }
  .gallery__img {
    width: max(100%, 282px);
  }
}

@media screen and (max-width: 620px) {
  .gallery {
    grid-template: repeat(6, auto) / 1fr;
    padding-top: 36px;
    row-gap: 20px;
    margin-bottom: 50px;
  }
}
