.gallery {
  display: grid;
  grid-template: auto auto / auto auto auto;
  box-sizing: border-box;
  max-width: 880px;
  min-height: 742px;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-bottom: 67px;
  list-style-type: none;
}
.gallery__item {
  box-sizing: border-box;

  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.gallery__img {
  box-sizing: border-box;

  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.desc {
  box-sizing: border-box;
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  width: 282px;
  height: 79px;
  padding-left: 21px;
  padding-top: 25px;
}

.desc__text {
  box-sizing: border-box;
  width: 206px;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.desc::after {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  top: 30px;
  right: 30px;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 910px) {
  .gallery {
    padding: 0 19px;
    grid-template: auto auto auto / 1fr 1fr;
    row-gap: 16px;
  }
  .gallery__img {
    width: 100%;
  }
  .desc {
    width: 100%;
  }
  .desc__text {
    width: max-content;
  }
}
