.gallery {
  display: grid;
  grid-template: auto auto / auto auto auto;
  box-sizing: border-box;
  max-width: 880px;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-bottom: 68px;
  list-style-type: none;
}
@media screen and (max-width: 910px) {
  .gallery {
    padding: 0 19px;
    grid-template: repeat(3, auto) / 1fr 1fr;
    row-gap: 16px;
  }
}

@media screen and (max-width: 620px) {
  .gallery {
    grid-template: repeat(6, auto) / 1fr;
    padding-top: 36px;
    row-gap: 20px;
    margin-bottom: 50px;
  }
}
