.gallery {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, minmax(282px, 430px));
  box-sizing: border-box;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-bottom: 68px;
}
.gallery__item {
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transition-duration: 500ms;
}

.gallery__img {
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.gallery__bin {
  position: absolute;
  top: 18px;
  right: 15px;
  height: 19.3px;
  width: 18px;
  background: url("../images/bin.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__bin:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 940px) {
  .gallery {
    padding: 0 18px;
    grid-template: repeat(3, 1fr) / repeat(2, minmax(282px, 430px));
    row-gap: 16px;
  }
  .gallery__img {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .gallery {
    grid-template: repeat(6, auto) / 1fr;
    padding-top: 36px;
    row-gap: 20px;
    margin-bottom: 50px;
  }
}
