.header {
  box-sizing: border-box;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  max-width: 880px;
  height: 120px;
}
.header__img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}
.text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 415px;
  height: 77px;
  margin-top: 22px;
  margin-right: 206px;
  row-gap: 16px;
}
.text__name {
  box-sizing: border-box;
  position: relative;
  color: white;
  width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.text__name::after {
  position: absolute;
  top: 15px;
  right: -42px;
  border: 1px solid white;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/pen.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.text__occu {
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.8px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.header__edit {
  align-self: center;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  background-image: url("../images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}
