.header {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
  display: flex;
  max-width: 880px;
  height: 120px;
  column-gap: 30px;
}
.header__img {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}
.text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 415px;
  height: 86px;
  padding-top: 22px;
  row-gap: 16px;
}
.text__name {
  position: relative;
  color: white;
  height: 39px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.text__edit {
  position: absolute;
  box-sizing: border-box;
  top: 14px;
  right: -42px;
  border: 1px solid white;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/pen.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.text__edit:hover {
  cursor: pointer;
  opacity: 0.6;
}
.text__occu {
  position: relative;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.text__occu::after {
  content: "";
  position: absolute;
  right: -382.094px;
  top: -42px;
  border: 1px solid white;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-image: url("../images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.text__occu:hover::after {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 910px) {
  .header {
    padding: 0 19px;
  }

  .text__occu::after {
    left: 239px;
    top: -7px;
  }
}

@media screen and (max-width: 810px) {
  .header {
    column-gap: 80px;
  }
  .text {
    padding-top: 0;
  }
}

@media screen and (max-width: 680px) {
  .header {
    column-gap: 40px;
  }
  .text__name {
    font-size: 32px;
    line-height: 37px;
  }
  .text__name::after {
    top: 4;
  }
  .text__occu {
    font-size: 14px;
    line-height: 16.94px;
  }

  .text__occu::after {
    left: 158.154px;
    top: -7px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 218.498px;
  }
  .header__img {
    margin-bottom: 30px;
  }
  .text {
    row-gap: 14px;
  }
  .text__name {
    font-size: 24px;
    line-height: 26.63px;
    height: fit-content;
  }
  .text__name::after {
    width: 18px;
    height: 18px;
    top: 4px;
    left: 208px;
  }
  .text__occu {
    text-align: center;
  }
  .text__occu::after {
    width: 282px;
    top: 58.938px;
    left: -41px;
  }
}
