.page {
  max-width: 1280px;
  min-height: 1217px;
  padding-top: 45px;
  font-family: "Inter", "Arial", serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
