.text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 415px;
  row-gap: 16px;
  margin-right: auto;
}
.text__title {
  display: flex;
  column-gap: 18px;
}
.text__name {
  color: white;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.text__button_type_edit {
  box-sizing: border-box;
  border: 1px solid white;
  align-self: center;
  min-width: 24px;
  min-height: 24px;
  background-image: url("../images/pen.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.text__button_type_edit:hover {
  cursor: pointer;
  opacity: 0.6;
}
.text__occu {
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 680px) {
  .text__name {
    max-width: 270px;
    font-size: 32px;

    line-height: 37px;
  }
  .text__occu {
    font-size: 14px;
    line-height: 16.94px;
  }
}
@media screen and (max-width: 620px) {
  .text {
    margin-right: 0;
    margin-bottom: 36px;
    row-gap: 14px;
  }
  .text__title {
    column-gap: 10px;
  }
  .text__button_type_edit {
    align-self: flex-start;
    min-width: 18px;
    min-height: 18px;
  }
  .text__name {
    max-width: 196px;
    font-size: 22px;
    line-height: 26.63px;
  }
  .text__occu {
    text-align: center;
    max-width: 282px;
  }
}
