.top {
  box-sizing: border-box;
  max-width: 880px;
  min-height: 74px;
  display: flex;
  margin-bottom: 40px;
  border-bottom: 1px solid #545454;
}
.top__logo {
  max-width: 173px;
  height: 33px;
}

@media screen and (max-width: 910px) {
  .top {
    padding-left: 27px;
  }
}

@media screen and (max-width: 880px) {
  .top {
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  .top {
    margin-bottom: 42px;
  }
  .top__logo {
    width: 126px;
    height: 24px;
  }
}
