.zoom {
  position: fixed;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition-duration: 600ms;
  opacity: 0;
}
.zoom_open {
  visibility: visible;
  opacity: 1;
}
.zoom__content {
  position: relative;
}
.zoom__img {
  background-image: none;
  background-position: top;
  background-repeat: no-repeat;
  width: 830px;
  height: 540px;
  object-fit: cover;
  box-sizing: border-box;
}
.zoom__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background: url("../images/close-X.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-width: 0;
  background-color: transparent;
}
.zoom__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.zoom__alt {
  margin-top: 10px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .zoom__img {
    width: 100vw;
    height: 400px;
  }
  .zoom__close {
    right: 7px;
    width: 30px;
    height: 30px;
  }
  .zoom__alt {
    margin-left: 10px;
  }
}
