.zoom {
  position: fixed;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition-duration: 600ms;
  opacity: 0;
}
.zoom_open {
  visibility: visible;
  opacity: 1;
}
.zoom__content {
  position: relative;
}
.zoom__img {
  position: relative;
  top: 30px;
  width: 75vw;
  height: 70vh;
  box-sizing: border-box;
  object-fit: cover;
}
.zoom__close {
  position: absolute;
  top: -10px;
  background-image: url("../images/close-X.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-width: 0;
  background-color: transparent;
}
.zoom__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.zoom__alt {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .zoom__img {
    width: 100vw;
  }
  .zoom__close {
    top: -13.3px;
    right: 20px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .zoom__img {
    width: 300px;
    height: 75vh;
  }
  .zoom__close {
    right: 20px;
  }
}
