.header {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
  display: flex;
  max-width: 880px;
  min-height: 120px;
  column-gap: 30px;
}
.header__img {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}
.plusBox {
  border: 1px solid white;
  position: relative;
  top: 35px;
  left: 161px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-image: url("../../images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.plusBox:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 910px) {
  .header {
    padding: 0 19px;
  }
  .plusBox {
    left: 0;
    width: 100px;
  }
}

@media screen and (max-width: 680px) {
  .text__name {
    font-size: 32px;
    line-height: 37px;
  }
  .text__occu {
    font-size: 14px;
    line-height: 16.94px;
  }
}
@media screen and (max-width: 620px) {
  .header {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  .header {
    min-height: 286px;
    flex-direction: column;
    align-items: center;
  }
  .header__img {
    margin-bottom: 30px;
  }
  .text {
    row-gap: 14px;
    max-height: 50px;
  }
  .text__title {
    column-gap: 10px;
  }
  .text__name {
    font-size: 24px;
    line-height: 26.63px;
  }
  .text__occu {
    text-align: center;
  }
  .plusBox {
    bottom: 0;
    width: 282px;
  }
}
