.gallery__item {
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.gallery__img {
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.desc {
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 282px;
  height: 79px;
  padding-left: 21px;
  padding-top: 25px;
  padding-right: 30px;
  z-index: -1;
}

.desc__text {
  box-sizing: border-box;
  max-width: 207px;
  font-size: 25px;
  line-height: 30.05px;
  font-weight: 901;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.like {
  width: 21px;
  height: 19px;
  background-image: url("../../../../images/like.svg ");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.like:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 910px) {
  .gallery__img {
    width: max(100%, 282px);
  }
  .desc {
    width: max(100%, 282px);
  }
  .desc__text {
    max-width: max-content;
  }
}

@media screen and (max-width: 680px) {
  .desc__text {
    max-width: 180px;
  }
}

@media screen and (max-width: 620px) {
  .desc__text {
    max-width: max-content;
  }
}

@media screen and (max-width: 450px) {
  .desc__text {
    max-width: 210px;
  }
}
