@import "../vendor/normalize.css";
@import "../blocks/page.css";
@import "../blocks/top.css";
@import "../blocks/header.css";
@import "../blocks/gallery.css";
@import "../blocks/image.css";
@import "../blocks/footer.css";
@import "../blocks/pop.css/";
@import "../blocks/form.css";
@import "../fonts/fonts.css";
